body
{
    margin: 0;
    padding: 0;
    font-family: ;
}
ul{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: url("https://media.discordapp.net/attachments/708916388328374274/708916607006801990/bg.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;

  margin: 0;
  padding: 0;
}
ul li{
  list-style: none;
  position: relative;
  width: 50%;
  height: 100%;
  border-right: 1px solid #000;
  float: left;
  box-sizing: border-box;
  transition: 0.5s;
  text-align: center;
  overflow: hidden;
}
ul li:nth-child(1)
{
  background: url("https://media.discordapp.net/attachments/708916388328374274/708918663117537320/SXY.jpg?width=366&height=467");
  background-size: cover;
  background-position: center;
}
ul li:nth-child(2)
{
  background: url("https://cdn.discordapp.com/attachments/708916388328374274/708937307159265300/bgmizu.png");
  background-size: cover;
  background-position: center;
}
ul li:nth-child(3)
{
  background: url("https://media.discordapp.net/attachments/708916388328374274/708919090860916777/bgnana.png?width=217&height=468");
  background-size: cover;
  background-position: center;
}
ul li:nth-child(4)
{
  background: url("https://media.discordapp.net/attachments/708916388328374274/708919067980988476/bgkiraa.png?width=217&height=468");
  background-size: cover;
  background-position: center;
}
ul li:nth-child(5)
{
  background: url("https://media.discordapp.net/attachments/708916388328374274/708919037182083112/bgazumi.png?width=217&height=468");
  background-size: cover;
  background-position: center;
}
ul li:nth-child(6)
{
  background: url("https://media.discordapp.net/attachments/708916388328374274/708919024049979412/bgaprie.png?width=217&height=468");
  background-size: cover;
  background-position: center;
}ul li:nth-child(7)
{
  background: url("https://media.discordapp.net/attachments/708916388328374274/708919003933835295/bgvis.png?width=217&height=468");
  background-size: cover;
  background-position: center;
}
ul li:nth-child(8)
{
  background: url("https://media.discordapp.net/attachments/708916388328374274/708919054118682644/bgbobi.png?width=217&height=468");
  background-size: cover;
  background-position: center;
}
ul li:nth-child(9)
{
  background: url("https://media.discordapp.net/attachments/708916388328374274/708931650347597904/bgkanno.png?width=217&height=468");
  background-size: cover;
  background-position: center;
}
ul li:nth-child(10)
{
  background: url("https://media.discordapp.net/attachments/708916388328374274/708931681360543774/bgraven.png?width=217&height=468");
  background-size: cover;
  background-position: center;
}
ul li:nth-child(11)
{
  background: url("https://media.discordapp.net/attachments/708916388328374274/708931701111521310/bgtsukasa.png?width=217&height=468");
  background-size: cover;
  background-position: center;
}
ul:hover li
{
  width: 5%;

}
ul li:hover
{
  width: 50%;
}
ul li .content
{
  position: absolute;
  bottom: -100%;
  left: 0;
  width: 100%;
  background: rgba(61, 127, 234, 0.28);
  box-sizing: border-box;
  color: #ffff;
}
ul li:hover .content
{
  bottom: 0%;
  transition: 0.5s;
  transition-delay: 0.2;


}
